<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>smart-compound-transaction</display-name>
	<!-- START PRIMEFACES DISPATCHER -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<!-- END PRIMEFACES DISPATCHER -->
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>

	<!-- START RESTEASY DISPATCHER -->
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/user</param-value>
	</context-param>
	<servlet>
		<servlet-name>RESTEasyService</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.ntg.smartCompound.ws.UserApplication</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>RESTEasyService</servlet-name>
		<url-pattern>/user/*</url-pattern>
	</servlet-mapping>
	<!-- END RESTEASY DISPATCHER -->
</web-app>